ul.barrage {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.barrage li {
  position: absolute;
}
input{
  background: rgba(232, 230, 230, 0.29);
  outline: none;
  border: solid 1px #e4e3e3;
  border-radius: 2px;
}
form {
  display: flex;
  align-items: center;
  margin: 8px 0 0;
}
input[type=text] {
  flex: 1;
}
select {
  margin: 0 8px;
}
@keyframes TopMove {
  to {
    transform: translateX(calc(-100vw - 100%))
  }
}
@keyframes BottomCenter {
  to { visibility: hidden }
}
ul.barrage li.top {
  left: 100%;
  top: 0;
  animation: TopMove 4s linear forwards;
  white-space:nowrap;
}
ul.barrage li.bottom {
  width: 100%;
  bottom: 0;
  text-align: center;
  animation: BottomCenter 3s linear forwards;
}
